@charset "UTF-8";

.iconChat{
	cursor:pointer;
}
#chat_close {
	top:30px;
	right:30px;
	position: absolute;
}

    #chatbox {
        position: absolute;
        top: 60px;
        right: 10px;
        z-index: 999;
        float: right;
        width: 20%;
        padding: 30px;
        min-width: 380px;
        height: auto; /* 변경된 높이 값 */
        /* background-color: rgba(13, 110, 253, 0.25); */
        /* background-color: rgba(var(--bs-tertiary-bg-rgb)) !important; */
            
        background-color: rgba(var(--bs-tertiary-bg-rgb)) !important;
        /* background-color: #ffc107;  */
        /* background-color: rgba(255, 193, 7, 0.8); */
        
        
        /*display: none;*/
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border:1px solid #e5e5e5;
        border-radius:5px;
    }

    #chat_bottom {
        display: flex;

    }

    #chat_top {
        margin: 5px 0px 5px 0px;
    }

    #chat_content {
        height: 400px;
        width: 100%;
        background-color: #2C3E50;
        color: #ffc107;
        overflow-x: hidden;
    }

    #chat_student_list {

        display: flex;
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    #chat_chat_list {

        display: flex;
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    #center {
        position: relative;
    }

    #chat_ch_center {
        font-size: 0.7em;
    }
    
    #chat_st_center{
    	line-height: 23px;
    }

    #cntMsg {
    	position:absolute;
    	top:26px;
    	right:381px;
    }