@charset "UTF-8";

	.iconChat{
		cursor:pointer;
	}
	#chat_close {
		top:13px;
		right:13px;
		position: absolute;
	}

    #chatbox {
        position:fixed;
        top: 60px;
        right: 33px;
        z-index: 999;
        float: right;
        width: 20%;
        padding: 0px;
        min-width: 380px;
        height: auto; /* 변경된 높이 값 */
            
        background-color: #002c41 !important;
        
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        border:0px solid;
        border-radius:5px;
    }

    #chat_bottom {
        display: flex;

    }
	#chat_top {
		width: 100%;
		margin: 10px;
        color: #fff;
	}
    
    #chat_content {
        height: 400px;
        width: 100%;
        background-color: #002c41;
        color: #fff;
        overflow-x: hidden;
    }

    #chat_student_list {

        display: flex;
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    #chat_chat_list {

        display: flex;
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    #center {
        position: relative;
    }

    #chat_ch_center {
        font-size: 0.7em;
    }
    
    #chat_st_center{
    	padding-top:5px;
    	line-height: 23px;
    }

    #cntMsg {
    	position:absolute;
    	top:26px;
    	right:381px;
    }